html{
    height: 100%;
    overflow: hidden;

}
body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    font-family: Arial, Helvetica, sans-serif;
    height: 133%;

}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: fixed;
    z-index: 10;
    width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background: rgb(213,227,228);
    opacity: 90%;
    font-family: "Gilroy ExtraBold";
    color:rgb(99,55,226) ;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    color: black;
    margin-top: 10vh;
    background: none;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    color: black;
}

#myLinks{
    margin-top: 8vh;
}

.navbar{
    display: none;
}


#video{
    padding-bottom:56.25%;
    position:relative;
    display:block;
}
.pages{
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150vh;
    margin-top: -8.2vh;
}
.page1{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    text-align: center;
    color: black;
    font-family: "Gilroy ExtraBold";
    z-index: 0;
}

.page1 h1{
    margin-top: -7vh;
    text-align: center;
}

.page1, .page2:before {
    background: 50% 50% / cover;
}
.page1:before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: rgb(213,227,228);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}

.page2{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    text-align: center;
    color: black;
    font-family: "Gilroy ExtraBold";
}
.page2 h1{
    margin-top: -2vh;
    text-align: center;
    color: rgb(53,250,243);
}
.page2, .page2:before {
    background: 50% 50% / cover;
}
.page2:before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: rgb(99,55,226);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}

.sub2{
    color: black;
    font-size: 3vh;
    color: rgb(53,250,243);
}

.slide2 {
    display: none;
    padding: 80px;
    text-align: left;
    height: 50vh;
    margin-top: -12vh;
    font-size: 1.62vh;
    color: white;
    margin-left: 1.5vh;
}


.page3{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    text-align: center;
    color: rgb(108,42,232);
    font-family: "Gilroy ExtraBold";

}
.page3 h1{
    margin-top: 1vh;
    text-align: center;
    color: rgb(108,42,232);


}
.page3, .page3:before {
    background: 50% 50% / cover;
}
.page3:before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: rgb(213,227,228);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.sub3{
    color: rgb(108,42,232);
    font-size: 3vh;
}

.slides3 {
    display: none;
    padding: 80px;
    text-align: left;
    height: 50vh;
    margin-top: -12vh;
    font-size: 1.8vh;
    margin-left: 1.5vh;
    color: black;
}

.page4{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    text-align: left;
    color: rgb(176,250,251);
    font-family: "Gilroy ExtraBold";
}
.page4 h1{
    margin-top: 20vh;
    text-align: center;
}
.page4, .page4:before {
    background: 50% 50% / cover;
}
.page4:before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background:rgb(8,153,150);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}

.sub4{
    color: rgb(176,250,251);
    font-size: 3vh;
}

.slides4 {
    display: none;
    padding: 80px;
    text-align: left;
    height: 50vh;
    margin-top: -11.5vh;
    font-size: 1.8vh;
    margin-left: 1.5vh;
    color: white;

}
img{
    width: 54vh;
    margin-left: -11vh ;
    margin-top: 3vh;
}



.page5{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    text-align: center;
    color: rgb(108,42,232);
    font-family: "Gilroy ExtraBold";
}
.page5 h1{
    margin-top: 100px;
    text-align: center;
    color: rgb(108,42,232);
}
.page5, .page5:before {
    background: 50% 50% / cover;
}
.page5:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: rgb(213,227,228);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.sub5{
    color: rgb(108,42,232);
    font-size: 3vh;
}
.slides5{
    display: none;
    padding: 80px;
    text-align: left;
    height: 50vh;
    margin-top: -12vh;
    font-size: 1.8vh;
    margin-left: 1.5vh;
    color: black;
}

#Container{
    margin-top: 20px;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
    position: relative;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 3vh;
    border-radius: 3px 0 0 3px;
    margin-left: 18vh;
}
.prev {
    position: absolute;
    left: 3vh;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    display: none;

}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a blue color to the author */
.sub {
    color: white;
    font-size: 3vh;
    padding-top: -10vw;

}


.werkorganisatie{
    font-family: "Gilroy ExtraBold";
    text-align: left;
    padding-left: 9vw;
    color: black;
}

#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 28vh; /* Place the button at the bottom of the page */
    right: 2vh; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*-----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {

    /* The navigation bar */
    .navbar {
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        z-index: 10;
    }

    /* Links inside the navbar */
    .navbar a {
        float: left;
        display: block;
        color: gray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change background on mouse-over */
    .navbar a:hover {

        color: white;
    }

    /* Main content */
    .main {
        margin-top: 30px; /* Add a top margin to avoid content overlay */
    }


    .page1 {
        box-sizing: border-box;
        min-height: 00vh;
        height: 100vh;
        padding: 6vw 0 20vw;
        position: relative;
        transform-style: inherit;
        width: 100%;
        text-align: center;
        font-size: 3vh;
        margin-bottom: 10vh;
    }

    .page1 h1 {
        margin-top: -40vh;
        text-align: center;
    }

    .page1 h2{
        margin-top: 20vh;
    }

    iframe {
        width: 70%;
        height: 40%;
        padding-left: 30%;
        padding-top: 4vh;
    }

    .page2 {
        box-sizing: border-box;
        min-height: 100vh;
        width: 100%;
        height: 100vh;
        padding: 2vw 0 5vw;
        position: relative;
        transform-style: inherit;
        width: 100%;
        text-align: center;
        padding-left: 10vw;
    }

    .page2 h1 {
        margin-top: 20vh;
        text-align: center;
    }


    .slide2 {
        padding-top: 10vw;
        width: 60%;

    }

    .page3 {
        box-sizing: border-box;
        min-height: 100vh;
        height: 100vh;
        padding: 2vw 0 5vw;
        position: relative;
        transform-style: inherit;
        width: 100%;
        text-align: center;
        padding-left: 10vw;


    }

    .page3 h1 {
        margin-top: 20vh;
        text-align: center;


    }

    .slides3 {
        padding-top: 10vw;
        width: 60%;

    }

    .page4 {
        box-sizing: border-box;
        min-height: 100vh;
        height: 100vh;
        padding: 2vw 0 5vw;
        position: relative;
        transform-style: inherit;
        width: 100%;
        text-align: center;
        padding-left: 10vw;


    }

    .page4 h1 {
        margin-top: 20vh;
        text-align: center;


    }

    .slides4 {
        padding-top: 10vw;
        width: 60%;

    }

    .page5 {
        box-sizing: border-box;
        min-height: 100vh;
        height: 100vh;
        padding: 2vw 0 5vw;
        position: relative;
        transform-style: inherit;
        width: 100%;
        text-align: center;
        padding-left: 10vw;


    }

    .page5 h1 {
        margin-top: 20vh;
        text-align: center;


    }

    .slides5 {
        padding-top: 10vw;
        width: 60%;

    }

    /* The navigation bar */
    .navbar {
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0px; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        display: block;
        margin-top: 9vh;
    }

    /* Links inside the navbar */
    .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: "Gilroy ExtraBold" ;
    }

    /* Change background on mouse-over */
    .navbar a:hover {
        color: white;
    }

    .topnav a.icon{
        display: none;
    }

    #myBtn{
        right: 4vh;
    }
    .next {
        position: absolute;
        right: 45vh;
        border-radius: 3px 0 0 3px;
        margin-left: 18vh;
    }
    .prev {
        position: absolute;
        left: -2vh;
        border-radius: 3px 0 0 3px;
    }

    }


